<%= simple_form_for([project, ticket]) do |f| %>
  <p>
    <%= f.input :name %>
  </p>

  <p>
    <%= f.input :description %>
  </p>
  <p>
    <%= f.input :attachment, as: :file, label: "File" %>
  </p>

  <p>
    <%= f.button :submit, class: 'btn-primary' %>
  </p>
<% end %>
