<div id="ticket">
  <div class="page-header">
    <h1><%= @project.name %></h1>
  </div>

  <div class="page-header">
    <h2><%= @ticket.name %></h2>
    <ul class="actions">
      <% if policy(@ticket).update? %>
        <li>
          <%= link_to "Edit Ticket", edit_project_ticket_path([@project, @ticket]), class: 'edit' %>
          <!-- another style is [:edit, @project, @ticket] for edit path -->
      <% end %>
      </li>
       <li>
         <%= link_to "Delete Ticket", project_ticket_path([@project, @ticket]), method: :delete, data: { confirm: "are you sure?" }, class: 'delete' %>
      <!-- another style is [:edit, @project, @ticket] for edit path -->
      </li>
     </ul>
   </div>

   <table id="attributes">
     <tr>
       <th>Author:</th>
       <td><%= @ticket.author.email %> </td>
     </tr>
     <tr>
       <th>Created:</th>
       <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
     </tr>
   </table>
  <%= simple_format(@ticket.description) %>
</div>
