<div id="ticket">
  <div class="page-header">
    <h1><%= @project.name %></h1>
  </div>

  <div class="page-header">
    <h2><%= @ticket.name %></h2>
    <ul class="actions">
      <li>
        <%= link_to "Edit Ticket", edit_project_ticket_path([@project, @ticket]), class: 'edit' %>
      <!-- another style is [:edit, @project, @ticket] for edit path -->
      </li>
       <li>
         <%= link_to "Delete Ticket", project_ticket_path([@project, @ticket]), method: :delete, data: { confirm: "are you sure?" }, class: 'delete' %>
      <!-- another style is [:edit, @project, @ticket] for edit path -->
      </li>
     </ul>
   </div>

  <%= simple_format(@ticket.description) %>
</div>
